In [7]:
import wget
import pandas as pd

In [3]:
wget.download(url='http://download.inep.gov.br/educacao_basica/portal_ideb/planilhas_para_download/2017/Divulgacao_Brasil.xlsx')

'Divulgacao_Brasil.xlsx'

In [4]:
wget.download(url='http://download.inep.gov.br/educacao_basica/portal_ideb/planilhas_para_download/2017/divulgacao_anos_iniciais-escolas-2017.xlsx')

'divulgacao_anos_iniciais-escolas-2017.xlsx'

In [6]:
wget.download(url='http://download.inep.gov.br/educacao_basica/portal_ideb/planilhas_para_download/2017/divulgacao_anos_finais-escolas-2017.xlsx')

'divulgacao_anos_finais-escolas-2017.xlsx'

In [83]:
anos_finais_df = pd.read_excel('divulgacao_anos_finais-escolas-2017.xlsx', header=[4,5,6], na_values='-', skiprows=[7])

In [84]:
anos_iniciais_df = pd.read_excel('divulgacao_anos_iniciais-escolas-2017.xlsx', header=[4,5,6], na_values='-', skiprows=[7])

In [110]:
anos_iniciais_df.index.names = ['UF']
for column in anos_iniciais_df.columns:
    print(column)
# print(anos_iniciais_df.loc['RO'])

('Código do Município', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2')
('Nome do Município', 'Unnamed: 1_level_1', 'Unnamed: 1_level_2')
('Código da Escola', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2')
('Nome da Escola', 'Unnamed: 3_level_1', 'Unnamed: 3_level_2')
('Rede', 'Unnamed: 4_level_1', 'Unnamed: 4_level_2')
('Taxa de Aprovação - 2005', 'Unnamed: 5_level_1', '1º ao 5º ano')
('Taxa de Aprovação - 2005', 'Unnamed: 6_level_1', '1º')
('Taxa de Aprovação - 2005', 'Unnamed: 7_level_1', '2º')
('Taxa de Aprovação - 2005', 'Unnamed: 8_level_1', '3º')
('Taxa de Aprovação - 2005', 'Unnamed: 9_level_1', '4º')
('Taxa de Aprovação - 2005', 'Unnamed: 10_level_1', '5º')
('Taxa de Aprovação - 2005', 'Unnamed: 11_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2007', 'Unnamed: 12_level_1', '1º ao 5º ano')
('Taxa de Aprovação - 2007', 'Unnamed: 13_level_1', '1º')
('Taxa de Aprovação - 2007', 'Unnamed: 14_level_1', '2º')
('Taxa de Aprovação - 2007', 'Unnamed: 15_level_1', '3º')
('Taxa de Aprovação - 2007', 'Unnamed: 16_level_1', '4º')
('Taxa de Aprovação - 2007', 'Unnamed: 17_level_1', '5º')
('Taxa de Aprovação - 2007', 'Unnamed: 18_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2009', 'Unnamed: 19_level_1', '1º ao 5º ano')
('Taxa de Aprovação - 2009', 'Unnamed: 20_level_1', '1º')
('Taxa de Aprovação - 2009', 'Unnamed: 21_level_1', '2º')
('Taxa de Aprovação - 2009', 'Unnamed: 22_level_1', '3º')
('Taxa de Aprovação - 2009', 'Unnamed: 23_level_1', '4º')
('Taxa de Aprovação - 2009', 'Unnamed: 24_level_1', '5º')
('Taxa de Aprovação - 2009', 'Unnamed: 25_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2011', 'Unnamed: 26_level_1', '1º ao 5º ano')
('Taxa de Aprovação - 2011', 'Unnamed: 27_level_1', '1º')
('Taxa de Aprovação - 2011', 'Unnamed: 28_level_1', '2º')
('Taxa de Aprovação - 2011', 'Unnamed: 29_level_1', '3º')
('Taxa de Aprovação - 2011', 'Unnamed: 30_level_1', '4º')
('Taxa de Aprovação - 2011', 'Unnamed: 31_level_1', '5º')
('Taxa de Aprovação - 2011', 'Unnamed: 32_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2013', 'Unnamed: 33_level_1', '1º ao 5º ano')
('Taxa de Aprovação - 2013', 'Unnamed: 34_level_1', '1º')
('Taxa de Aprovação - 2013', 'Unnamed: 35_level_1', '2º')
('Taxa de Aprovação - 2013', 'Unnamed: 36_level_1', '3º')
('Taxa de Aprovação - 2013', 'Unnamed: 37_level_1', '4º')
('Taxa de Aprovação - 2013', 'Unnamed: 38_level_1', '5º')
('Taxa de Aprovação - 2013', 'Unnamed: 39_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2015', 'Unnamed: 40_level_1', '1º ao 5º ano')
('Taxa de Aprovação - 2015', 'Unnamed: 41_level_1', '1º')
('Taxa de Aprovação - 2015', 'Unnamed: 42_level_1', '2º')
('Taxa de Aprovação - 2015', 'Unnamed: 43_level_1', '3º')
('Taxa de Aprovação - 2015', 'Unnamed: 44_level_1', '4º')
('Taxa de Aprovação - 2015', 'Unnamed: 45_level_1', '5º')
('Taxa de Aprovação - 2015', 'Unnamed: 46_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2017', 'Unnamed: 47_level_1', '1º ao 5º ano')
('Taxa de Aprovação - 2017', 'Unnamed: 48_level_1', '1º')
('Taxa de Aprovação - 2017', 'Unnamed: 49_level_1', '2º')
('Taxa de Aprovação - 2017', 'Unnamed: 50_level_1', '3º')
('Taxa de Aprovação - 2017', 'Unnamed: 51_level_1', '4º')
('Taxa de Aprovação - 2017', 'Unnamed: 52_level_1', '5º')
('Taxa de Aprovação - 2017', 'Unnamed: 53_level_1', 'Indicador de Rendimento (P)')
('Nota SAEB - 2005', 'Matemática', 'Unnamed: 54_level_2')
('Nota SAEB - 2005', 'Língua Portuguesa', 'Unnamed: 55_level_2')
('Nota SAEB - 2005', 'Nota Média Padronizada (N)', 'Unnamed: 56_level_2')
('Nota SAEB - 2007', 'Matemática', 'Unnamed: 57_level_2')
('Nota SAEB - 2007', 'Língua Portuguesa', 'Unnamed: 58_level_2')
('Nota SAEB - 2007', 'Nota Média Padronizada (N)', 'Unnamed: 59_level_2')
('Nota SAEB - 2009', 'Matemática', 'Unnamed: 60_level_2')
('Nota SAEB - 2009', 'Língua Portuguesa', 'Unnamed: 61_level_2')
('Nota SAEB - 2009', 'Nota Média Padronizada (N)', 'Unnamed: 62_level_2')
('Nota SAEB - 2011', 'Matemática', 'Unnamed: 63_level_2')
('Nota SAEB - 2011', 'Língua Portuguesa', 'Unnamed: 64_level_2')
('Nota SAEB - 2011', 'Nota Média Padronizada (N)', 'Unnamed: 65_level_2')
('Nota SAEB - 2013', 'Matemática', 'Unnamed: 66_level_2')
('Nota SAEB - 2013', 'Língua Portuguesa', 'Unnamed: 67_level_2')
('Nota SAEB - 2013', 'Nota Média Padronizada (N)', 'Unnamed: 68_level_2')
('Nota SAEB - 2015', 'Matemática', 'Unnamed: 69_level_2')
('Nota SAEB - 2015', 'Língua Portuguesa', 'Unnamed: 70_level_2')
('Nota SAEB - 2015', 'Nota Média Padronizada (N)', 'Unnamed: 71_level_2')
('Nota SAEB - 2017', 'Matemática', 'Unnamed: 72_level_2')
('Nota SAEB - 2017', 'Língua Portuguesa', 'Unnamed: 73_level_2')
('Nota SAEB - 2017', 'Nota Média Padronizada (N)', 'Unnamed: 74_level_2')
('IDEB\n2005\n(N x P)', 'Unnamed: 75_level_1', 'Unnamed: 75_level_2')
('IDEB\n2007\n(N x P)', 'Unnamed: 76_level_1', 'Unnamed: 76_level_2')
('IDEB\n2009\n(N x P)', 'Unnamed: 77_level_1', 'Unnamed: 77_level_2')
('IDEB\n2011\n(N x P)', 'Unnamed: 78_level_1', 'Unnamed: 78_level_2')
('IDEB\n2013\n(N x P)', 'Unnamed: 79_level_1', 'Unnamed: 79_level_2')
('IDEB\n2015\n(N x P)', 'Unnamed: 80_level_1', 'Unnamed: 80_level_2')
('IDEB\n2017\n(N x P)', 'Unnamed: 81_level_1', 'Unnamed: 81_level_2')
('Projeções', 'Unnamed: 82_level_1', 2007)
('Projeções', 'Unnamed: 83_level_1', 2009)
('Projeções', 'Unnamed: 84_level_1', 2011)
('Projeções', 'Unnamed: 85_level_1', 2013)
('Projeções', 'Unnamed: 86_level_1', 2015)
('Projeções', 'Unnamed: 87_level_1', 2017)
('Projeções', 'Unnamed: 88_level_1', 2019)
('Projeções', 'Unnamed: 89_level_1', 2021)

In [109]:
anos_finais_df.index.names = ['UF']
for column in anos_finais_df.columns:
    print(column)

('Código do Município', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2')
('Nome do Município', 'Unnamed: 1_level_1', 'Unnamed: 1_level_2')
('Código da Escola', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2')
('Nome da Escola', 'Unnamed: 3_level_1', 'Unnamed: 3_level_2')
('Rede', 'Unnamed: 4_level_1', 'Unnamed: 4_level_2')
('Taxa de Aprovação - 2005', 'Unnamed: 5_level_1', '6º a 9º ano')
('Taxa de Aprovação - 2005', 'Unnamed: 6_level_1', '6º')
('Taxa de Aprovação - 2005', 'Unnamed: 7_level_1', '7º')
('Taxa de Aprovação - 2005', 'Unnamed: 8_level_1', '8º')
('Taxa de Aprovação - 2005', 'Unnamed: 9_level_1', '9º')
('Taxa de Aprovação - 2005', 'Unnamed: 10_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2007', 'Unnamed: 11_level_1', '6º a 9º ano')
('Taxa de Aprovação - 2007', 'Unnamed: 12_level_1', '6º')
('Taxa de Aprovação - 2007', 'Unnamed: 13_level_1', '7º')
('Taxa de Aprovação - 2007', 'Unnamed: 14_level_1', '8º')
('Taxa de Aprovação - 2007', 'Unnamed: 15_level_1', '9º')
('Taxa de Aprovação - 2007', 'Unnamed: 16_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2009', 'Unnamed: 17_level_1', '6º a 9º ano')
('Taxa de Aprovação - 2009', 'Unnamed: 18_level_1', '6º')
('Taxa de Aprovação - 2009', 'Unnamed: 19_level_1', '7º')
('Taxa de Aprovação - 2009', 'Unnamed: 20_level_1', '8º')
('Taxa de Aprovação - 2009', 'Unnamed: 21_level_1', '9º')
('Taxa de Aprovação - 2009', 'Unnamed: 22_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2011', 'Unnamed: 23_level_1', '6º a 9º ano')
('Taxa de Aprovação - 2011', 'Unnamed: 24_level_1', '6º')
('Taxa de Aprovação - 2011', 'Unnamed: 25_level_1', '7º')
('Taxa de Aprovação - 2011', 'Unnamed: 26_level_1', '8º')
('Taxa de Aprovação - 2011', 'Unnamed: 27_level_1', '9º')
('Taxa de Aprovação - 2011', 'Unnamed: 28_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2013', 'Unnamed: 29_level_1', '6º a 9º ano')
('Taxa de Aprovação - 2013', 'Unnamed: 30_level_1', '6º')
('Taxa de Aprovação - 2013', 'Unnamed: 31_level_1', '7º')
('Taxa de Aprovação - 2013', 'Unnamed: 32_level_1', '8º')
('Taxa de Aprovação - 2013', 'Unnamed: 33_level_1', '9º')
('Taxa de Aprovação - 2013', 'Unnamed: 34_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2015', 'Unnamed: 35_level_1', '6º a 9º ano')
('Taxa de Aprovação - 2015', 'Unnamed: 36_level_1', '6º')
('Taxa de Aprovação - 2015', 'Unnamed: 37_level_1', '7º')
('Taxa de Aprovação - 2015', 'Unnamed: 38_level_1', '8º')
('Taxa de Aprovação - 2015', 'Unnamed: 39_level_1', '9º')
('Taxa de Aprovação - 2015', 'Unnamed: 40_level_1', 'Indicador de Rendimento (P)')
('Taxa de Aprovação - 2017', 'Unnamed: 41_level_1', '6º a 9º ano')
('Taxa de Aprovação - 2017', 'Unnamed: 42_level_1', '6º')
('Taxa de Aprovação - 2017', 'Unnamed: 43_level_1', '7º')
('Taxa de Aprovação - 2017', 'Unnamed: 44_level_1', '8º')
('Taxa de Aprovação - 2017', 'Unnamed: 45_level_1', '9º')
('Taxa de Aprovação - 2017', 'Unnamed: 46_level_1', 'Indicador de Rendimento (P)')
('Nota SAEB - 2005', 'Matemática', 'Unnamed: 47_level_2')
('Nota SAEB - 2005', 'Língua Portuguesa', 'Unnamed: 48_level_2')
('Nota SAEB - 2005', 'Nota Média Padronizada (N)', 'Unnamed: 49_level_2')
('Nota SAEB - 2007', 'Matemática', 'Unnamed: 50_level_2')
('Nota SAEB - 2007', 'Língua Portuguesa', 'Unnamed: 51_level_2')
('Nota SAEB - 2007', 'Nota Média Padronizada (N)', 'Unnamed: 52_level_2')
('Nota SAEB - 2009', 'Matemática', 'Unnamed: 53_level_2')
('Nota SAEB - 2009', 'Língua Portuguesa', 'Unnamed: 54_level_2')
('Nota SAEB - 2009', 'Nota Média Padronizada (N)', 'Unnamed: 55_level_2')
('Nota SAEB - 2011', 'Matemática', 'Unnamed: 56_level_2')
('Nota SAEB - 2011', 'Língua Portuguesa', 'Unnamed: 57_level_2')
('Nota SAEB - 2011', 'Nota Média Padronizada (N)', 'Unnamed: 58_level_2')
('Nota SAEB - 2013', 'Matemática', 'Unnamed: 59_level_2')
('Nota SAEB - 2013', 'Língua Portuguesa', 'Unnamed: 60_level_2')
('Nota SAEB - 2013', 'Nota Média Padronizada (N)', 'Unnamed: 61_level_2')
('Nota SAEB - 2015', 'Matemática', 'Unnamed: 62_level_2')
('Nota SAEB - 2015', 'Língua Portuguesa', 'Unnamed: 63_level_2')
('Nota SAEB - 2015', 'Nota Média Padronizada (N)', 'Unnamed: 64_level_2')
('Nota SAEB - 2017', 'Matemática', 'Unnamed: 65_level_2')
('Nota SAEB - 2017', 'Língua Portuguesa', 'Unnamed: 66_level_2')
('Nota SAEB - 2017', 'Nota Média Padronizada (N)', 'Unnamed: 67_level_2')
('IDEB\n2005\n(N x P)', 'Unnamed: 68_level_1', 'Unnamed: 68_level_2')
('IDEB\n2007\n(N x P)', 'Unnamed: 69_level_1', 'Unnamed: 69_level_2')
('IDEB\n2009\n(N x P)', 'Unnamed: 70_level_1', 'Unnamed: 70_level_2')
('IDEB\n2011\n(N x P)', 'Unnamed: 71_level_1', 'Unnamed: 71_level_2')
('IDEB\n2013\n(N x P)', 'Unnamed: 72_level_1', 'Unnamed: 72_level_2')
('IDEB\n2015\n(N x P)', 'Unnamed: 73_level_1', 'Unnamed: 73_level_2')
('IDEB\n2017\n(N x P)', 'Unnamed: 74_level_1', 'Unnamed: 74_level_2')
('Projeções', 'Unnamed: 75_level_1', 2007)
('Projeções', 'Unnamed: 76_level_1', 2009)
('Projeções', 'Unnamed: 77_level_1', 2011)
('Projeções', 'Unnamed: 78_level_1', 2013)
('Projeções', 'Unnamed: 79_level_1', 2015)
('Projeções', 'Unnamed: 80_level_1', 2017)
('Projeções', 'Unnamed: 81_level_1', 2019)
('Projeções', 'Unnamed: 82_level_1', 2021)

In [87]:
anos_iniciais_df.head()

Sigla da UF Código do Município      Nome do Município   Código da Escola  \
             Unnamed: 0_level_1     Unnamed: 1_level_1 Unnamed: 2_level_1
             Unnamed: 0_level_2     Unnamed: 1_level_2 Unnamed: 2_level_2
RO                    1100015.0  Alta Floresta D'Oeste         11024666.0
RO                    1100015.0  Alta Floresta D'Oeste         11024682.0
RO                    1100015.0  Alta Floresta D'Oeste         11024828.0
RO                    1100015.0  Alta Floresta D'Oeste         11024968.0
RO                    1100015.0  Alta Floresta D'Oeste         11025077.0

Sigla da UF                          Nome da Escola               Rede  \
                                 Unnamed: 3_level_1 Unnamed: 4_level_1
                                 Unnamed: 3_level_2 Unnamed: 4_level_2
RO                             EMEIEF BOA ESPERANCA          Municipal
RO                      EEEF EURIDICE LOPES PEDROSO           Estadual
RO                           EMEIEF IZIDORO STEDILE          Municipal
RO           EEEFM JUSCELINO KUBITSCHEK DE OLIVEIRA           Estadual
RO                       EMEIEF MARIA DE SOUZA PEGO          Municipal

Sigla da UF Taxa de Aprovação - 2005                                        \
                  Unnamed: 5_level_1 Unnamed: 6_level_1 Unnamed: 7_level_1
                        1º ao 5º ano                 1º                 2º
RO                               NaN                NaN                NaN
RO                              93.1                NaN              100.0
RO                               NaN                NaN                NaN
RO                              89.4                NaN              100.0
RO                               NaN                NaN                NaN

Sigla da UF                                               ...          \
            Unnamed: 8_level_1 Unnamed: 9_level_1         ...
                            3º                 4º         ...
RO                         NaN                NaN         ...
RO                        93.7               93.0         ...
RO                         NaN                NaN         ...
RO                        82.9               88.1         ...
RO                         NaN                NaN         ...

Sigla da UF IDEB\n2015\n(N x P) IDEB\n2017\n(N x P)           Projeções  \
            Unnamed: 80_level_1 Unnamed: 81_level_1 Unnamed: 82_level_1
            Unnamed: 80_level_2 Unnamed: 81_level_2                2007
RO                          5.4                 5.6                 NaN
RO                          5.8                 6.9                 4.2
RO                          5.0                 4.9                 NaN
RO                          5.9                 NaN                 4.5
RO                          NaN                 4.6                 NaN

Sigla da UF                                                              \
            Unnamed: 83_level_1 Unnamed: 84_level_1 Unnamed: 85_level_1
                           2009                2011                2013
RO                          NaN                 NaN                 NaN
RO                          4.6                 5.0                 5.3
RO                          NaN                 3.2                 3.5
RO                          4.9                 5.3                 5.5
RO                          NaN                 NaN                 NaN

Sigla da UF                                                              \
            Unnamed: 86_level_1 Unnamed: 87_level_1 Unnamed: 88_level_1
                           2015                2017                2019
RO                          NaN                 5.6                 5.9
RO                          5.5                 5.8                 6.1
RO                          3.8                 4.1                 4.4
RO                          5.8                 6.1                 6.3
RO                          NaN                 NaN                 4.9

Sigla da UF
            Unnamed: 89_level_1
                           2021
RO                          6.1
RO                          6.3
RO                          4.7
RO                          6.6
RO                          5.2

[5 rows x 90 columns]

In [88]:
anos_finais_df.head()

Sigla da UF Código do Município      Nome do Município   Código da Escola  \
             Unnamed: 0_level_1     Unnamed: 1_level_1 Unnamed: 2_level_1
             Unnamed: 0_level_2     Unnamed: 1_level_2 Unnamed: 2_level_2
RO                    1100015.0  Alta Floresta D'Oeste         11024666.0
RO                    1100015.0  Alta Floresta D'Oeste         11024682.0
RO                    1100015.0  Alta Floresta D'Oeste         11024828.0
RO                    1100015.0  Alta Floresta D'Oeste         11024917.0
RO                    1100015.0  Alta Floresta D'Oeste         11024968.0

Sigla da UF                          Nome da Escola               Rede  \
                                 Unnamed: 3_level_1 Unnamed: 4_level_1
                                 Unnamed: 3_level_2 Unnamed: 4_level_2
RO                             EMEIEF BOA ESPERANCA          Municipal
RO                      EEEF EURIDICE LOPES PEDROSO           Estadual
RO                           EMEIEF IZIDORO STEDILE          Municipal
RO                      EMEIEF JOSE BASILIO DA GAMA          Municipal
RO           EEEFM JUSCELINO KUBITSCHEK DE OLIVEIRA           Estadual

Sigla da UF Taxa de Aprovação - 2005                                        \
                  Unnamed: 5_level_1 Unnamed: 6_level_1 Unnamed: 7_level_1
                         6º a 9º ano                 6º                 7º
RO                               NaN                NaN                NaN
RO                              81.0               75.6               86.2
RO                               NaN                NaN                NaN
RO                               NaN                NaN                NaN
RO                              78.1               72.0               79.1

Sigla da UF                                               ...          \
            Unnamed: 8_level_1 Unnamed: 9_level_1         ...
                            8º                 9º         ...
RO                         NaN                NaN         ...
RO                        84.5               74.4         ...
RO                         NaN                NaN         ...
RO                         NaN                NaN         ...
RO                        94.0               71.9         ...

Sigla da UF IDEB\n2015\n(N x P) IDEB\n2017\n(N x P)           Projeções  \
            Unnamed: 73_level_1 Unnamed: 74_level_1 Unnamed: 75_level_1
            Unnamed: 73_level_2 Unnamed: 74_level_2                2007
RO                          NaN                 4.1                 NaN
RO                          NaN                 NaN                 3.9
RO                          NaN                 4.8                 NaN
RO                          NaN                 NaN                 NaN
RO                          4.6                 5.3                 3.5

Sigla da UF                                                              \
            Unnamed: 76_level_1 Unnamed: 77_level_1 Unnamed: 78_level_1
                           2009                2011                2013
RO                          NaN                 4.3                 4.6
RO                          4.1                 4.3                 4.7
RO                          NaN                 2.8                 3.1
RO                          NaN                 3.6                 3.9
RO                          3.7                 3.9                 4.3

Sigla da UF                                                              \
            Unnamed: 79_level_1 Unnamed: 80_level_1 Unnamed: 81_level_1
                           2015                2017                2019
RO                          4.9                 5.2                 5.4
RO                          5.1                 5.4                 5.6
RO                          3.4                 3.7                 3.9
RO                          4.2                 4.5                 4.7
RO                          4.7                 5.0                 5.2

Sigla da UF
            Unnamed: 82_level_1
                           2021
RO                          5.7
RO                          5.8
RO                          4.2
RO                          5.0
RO                          5.5

[5 rows x 83 columns]

In [123]:
anos_iniciais_df.sort_values(by=('IDEB\n2017\n(N x P)', 'Unnamed: 81_level_1', 'Unnamed: 81_level_2'), \
                             ascending=False).iloc[:100][['Nome da Escola', 'IDEB\n2017\n(N x P)']] \
            .groupby('UF').count() \
            .sort_values(by=('IDEB\n2017\n(N x P)', 'Unnamed: 81_level_1', 'Unnamed: 81_level_2'), ascending=False)

Sigla da UF     Nome da Escola IDEB\n2017\n(N x P)
            Unnamed: 3_level_1 Unnamed: 81_level_1
            Unnamed: 3_level_2 Unnamed: 81_level_2
UF
CE                          71                  71
AL                           8                   8
PR                           6                   6
SP                           6                   6
MG                           4                   4
SC                           3                   3
GO                           1                   1
PE                           1                   1

In [122]:
anos_finais_df.sort_values(by=('IDEB\n2017\n(N x P)', 'Unnamed: 74_level_1', 'Unnamed: 74_level_2'), \
                             ascending=False).iloc[:100][['Nome da Escola', 'IDEB\n2017\n(N x P)']] \
            .groupby('UF').count() \
            .sort_values(by=('IDEB\n2017\n(N x P)', 'Unnamed: 74_level_1', 'Unnamed: 74_level_2'), ascending=False)

Sigla da UF     Nome da Escola IDEB\n2017\n(N x P)
            Unnamed: 3_level_1 Unnamed: 74_level_1
            Unnamed: 3_level_2 Unnamed: 74_level_2
UF
CE                          54                  54
PE                           8                   8
SP                           6                   6
SC                           5                   5
RS                           5                   5
PR                           3                   3
GO                           3                   3
MG                           3                   3
RJ                           3                   3
TO                           2                   2
DF                           2                   2
PI                           1                   1
BA                           1                   1
RR                           1                   1
MS                           1                   1
MA                           1                   1
AL                           1                   1

In [192]:
anos_iniciais_top_100 = anos_iniciais_df.sort_values(by=('IDEB\n2017\n(N x P)', 'Unnamed: 81_level_1', 'Unnamed: 81_level_2'), \
                             ascending=False).iloc[:100][['Nome da Escola', 'IDEB\n2017\n(N x P)']]

anos_finais_top_100 = anos_finais_df.sort_values(by=('IDEB\n2017\n(N x P)', 'Unnamed: 74_level_1', 'Unnamed: 74_level_2'), \
                             ascending=False).iloc[:100][['Nome da Escola', 'IDEB\n2017\n(N x P)']]

anos_iniciais_top_100.columns = ['Escola', 'IDEB 2017 (N x P)']
anos_finais_top_100.columns = ['Escola', 'IDEB 2017 (N x P)']
total = anos_iniciais_top_100.append(anos_finais_top_100)

total.sort_values(by='IDEB 2017 (N x P)', ascending=False).iloc[:100] \
    .groupby('UF').count() \
            .sort_values(by='IDEB 2017 (N x P)', ascending=False)


# ('IDEB\n2017\n(N x P)', 'Unnamed: 81_level_1', 'Unnamed: 81_level_2')
# anos_finais_df.sort_values(by=('IDEB\n2017\n(N x P)', 'Unnamed: 74_level_1', 'Unnamed: 74_level_2'), \
#                              ascending=False).iloc[:100][['Nome da Escola', 'IDEB\n2017\n(N x P)']] \
#             .groupby('UF').count() \
#             .sort_values(by=('IDEB\n2017\n(N x P)', 'Unnamed: 74_level_1', 'Unnamed: 74_level_2'), ascending=False)

    Escola  IDEB 2017 (N x P)
UF
CE      72                 72
AL       8                  8
SP       6                  6
PR       5                  5
MG       3                  3
SC       3                  3
PE       2                  2
GO       1                  1